config.yml
.idea

data/cache/*
!data/cache/.gitkeep

stacks/apps/*/config/*
stacks/*/config/*
!stacks/apps/*/config/.gitkeep
!stacks/*/config/.gitkeep

.DS_Store

data/cache/*
!data/cache/.gitkeep

vendor