data/certs/*
data/html/*
data/vhost.d/*
data/logs/nginx/*
data/mysql/*
!data/certs/.gitkeep
!data/html/.gitkeep
!data/vhost.d/.gitkeep
!data/logs/nginx/.gitkeep
!data/mysql/.gitkeep
docker-compose.yml
